* {
    margin: 0;
    padding: 0;
}

.on,
.off {
    display: none;
}

nav {
    background-color: #c02b2b;
    grid-area: nav;
    height: 80px;


}


nav ul {
    list-style-type: none;
    display: flex;
    text-align: center;


    top: 10px;

}

main {
    background-color: #080808;
    grid-area: main;
    height: 42em;
}


.menu ul li {
    list-style: none;
    display: inline;

}

.menu li a {
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    text-transform: lowercase;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 18px;
    line-height: 4rem;
    font-weight: 300;



}

.menu li a {
    position: relative;
    top: 10px;
    left: 700px;

}

.logo {
    left: 300px;
}

.menu li a:hover {
    color: gold;

}

.menu li a {
    position: relative;
    top: 10px;
    left: 700px;

}



body {
    background-color: #000000;
}

.contactMain h1 {
    display: block;
    font-size: 8em;
    font-family: 'Anton', sans-serif;

    text-transform: uppercase;
    margin-left: 30%;
    font-weight: 600;
    color: gold;
}

.contactMain p {
    display: block;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: left;

    margin-left: 15%;
    font-weight: 600;
    color: #ffffffdf;

}
ul li .logo{
    
    color: gold;
    font-family: 'Monoton', cursive;
    font-size: 25px;
    
}

