body {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "main"

    ;
}

.on,
.off {
    display: none;
}



/*example to style the home pages main using the class key word */

main {
    display: grid;
    height: 40em;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "main";
}

main {
    height: 43em;
    color: rgb(236, 173, 96);

}