
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: darkgoldenrod;
    grid-area: nav;
}
main{
    background-color: darkgray;
    grid-area: main;
}
footer{
    background-color: rgb(201, 167, 15);
    grid-area: footer;
}