/* HOME PAGE */
/* navigation bar */
* {
    margin: 0;
    padding: 0;
}

.on,
.off {
    display: none;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "main"
        "footer"

    ;
}

nav {
    background-color: #c02b2b;
    grid-area: nav;
    height: 80px;


}


nav ul {
    list-style-type: none;
    display: flex;
    text-align: center;


    top: 10px;

}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    margin-right: 50%;
    font-size: 50px;
    text-transform: lowercase;
    font-weight: 400;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;

    font-size: 25px;
}

h4 {
    color: #F8A145;
    font-size: 27px;
    text-align: center;

    font-weight: lighter;
    margin-top: 39px;
}

p {
    color: #ffffffb0;
    text-align: left;
    margin-top: 30px;
    margin-right: 30%;
    margin-left: 20%;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

hr.divider {
    border-top: 3px solid #bbb;
}

main {
    background-color: #080808;
    grid-area: main;
    height: 55em;
}

/* nav items which i named as menu */
.menu ul li {
    list-style: none;
    display: inline;

}

.menu li a {
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    text-transform: lowercase;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 19px;
    line-height: 4rem;
    font-weight: 300;



}

.menu li a {
    position: relative;
    top: 10px;
    left: 700px;

}

/* nav logo */

.menu li a:hover {
    color: gold;

}

ul li .logo {
    color: gold;
    font-family: 'Monoton', cursive;
    font-size: 25px;
    left: 12%;
}


/* Footer  */

footer {
    background-color: rgb(15, 14, 14);
    display: grid;
    height: 42px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "footer";
}

footer ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    top: 10px;

}

footer ul li {
    list-style: none;
    display: inline;

}

footer li a {
    color: #ffffff;
    top: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

footer li a {
    position: relative;

    left: 900px;

}

.Flogo {
    left: 5em;
}
